.contactForm {
  margin: 24px;
}

.contactFormInput {
  margin-bottom: 24px;
  width: 100%;
}

.contactFormButton {
  margin-bottom: 12px;
  float: right;
  color: #fff;
}

.contactFormInputTextarea {
  margin-bottom: 24px;
  width: 100%;
}
